<h1>Yoooo</h1>

<% @subeddits.each do |subeddit| %>
  <div>
    <h2><%= link_to subeddit.name, subeddit_posts_path(subeddit)  %> </h2>
    <img style="max-width: 400px; height: auto" src=<%= subeddit.image %> ></img>
  </div>
<% end %>
